{% extends "base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'group/css/group.css' %}">{% endblock %}
{% block content %}

<div class="header">
  <form class="" method="post" action="{% url 'group:deleteNID' user.id nid.id %}">
    {% csrf_token %}
    {{ nid }} 的課表
    <input class="btn" type="submit" value="刪除NID">
  </form>
  <a href="{% url 'group:updateCourse' user.id nid.id course1.0.id %}"><img class="edit" src="{% static 'group/img/edit.png' %}"></a>
</div>

{% include 'group/listgroup.html' %}


{% include 'group/courseTable.html' %}

{% endblock %}